{
  "openapi": "3.0.3",
  "info": {
    "title": "Verint Core API",
    "description": "Core API, to be used for authorization.",
    "version": "1.0.0",
    "termsOfService": "https://www.verint.com/our-company/legal-documents/verintcom-terms-of-service/",
    "license": {
      "name": "Verint Master Customer Agreement",
      "url": "https://www.verint.com/our-company/legal-documents/master-agreement/"
    },
    "x-vc-product_code": "WFMENT",
    "x-vc-product_suite": "WFO",
    "contact": {
      "name": "API Support",
      "url": "https://community.verint.com/support/"
    }
  },
  "servers": [
    {
      "url": "https://wfo.g3.verintcloudservices.com/wfo/rest/core-api"
    }
  ],
  "paths": {
    "/auth/token": {
      "post": {
        "summary": "Generates a new auth token for the user",
        "requestBody": {
          "description": "Request body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully generated auth token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponseDto"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AuthRequestDto": {
        "type": "object",
        "properties": {
          "user": {
            "type": "string",
            "example": "User"
          },
          "password": {
            "type": "string",
            "example": "1234"
          }
        },
        "required": [
          "user",
          "password"
        ]
      },
      "AuthResponseDto": {
        "type": "object",
        "properties": {
          "AuthToken": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "example": "1123"
              },
              "token": {
                "type": "string",
                "example": "AdsqQdq3dDfq2"
              },
              "extendSession": {
                "type": "boolean",
                "nullable": true,
                "example": null
              }
            }
          }
        }
      }
    }
  }
}